footer{
  background-color: rgb(24, 24, 24);
  color: white;
}
footer p{
  margin-left: 10%;
  margin-right: 10%;
}
*{
  scroll-behavior: smooth;
}footer{
  background-color: rgb(24, 24, 24);
  color: white;
}
footer p{
  margin-left: 10%;
  margin-right: 10%;
}
*{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}